<a class="svg-glasses-link" href="index.html">
	<img src="assets/img/0-Gen/NICGIB-Logo_v1.png" width="89px" height="89px" class="svg-glasses-new">
</a>
<!--<a class="svg-glasses-link" href="index.html"><img src="https://cdn.glitch.com/495005c3-fbd4-40ec-9078-f8aa56af48b9%2FNICGIB-GlassesLogoV1.3.svg?v=1627341414452" width="89px" height="53px" class="svg-glasses"></a>-->

<a class="about-link" href="about.html">
	<img src="assets/img/0-Gen/NICGIB-About.png" width="105px" height="105px">
</a>
<!--<a class="about-link" href="about.html">ABOUT</a>-->