<footer class="non-home-footer" id="footerid">
  <div class="fbox non-home-fbox">
    <div class="ftextflex">
      <p class="ftext">Currently a junior at Santa Clara University, Nicolas Gibson is passionate about all things design, constantly learning new things and putting them into practice.</p>
    </div>
    <svg height="250" width="10" class="dividerLine">
      <line x1="0" y1="0" x2="0" y2="250" style="stroke:rgb(0,0,0);stroke-width:5" />
    </svg>
    <div class="iconnameflex">
      <a href="https://www.linkedin.com/in/nic-gib/" target="blank" class="footericonlink">Linkedin</a>
      <a href="https://github.com/NicGib" target="blank" class="footericonlink">GitHub</a>
    </div>
    <div class="iconflex">
      <a href="https://www.linkedin.com/in/nic-gib/" target="blank" class="icon"><i class="fa-brands fa-linkedin fa-3x"></i></a>
      <!--<a href="https://codepen.io/NicGib" target="blank" class="icon"><i class="fa fa-codepen fa-3x"></i></a>-->
      <a href="https://github.com/NicGib" target="blank" class="icon icon-github"><div><i class="fa fa-github fa-3x"></i></div></a>
    </div>
  </div>
</footer>