<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - NICGIB</title>
    <link rel="icon" href="https://cdn.glitch.com/495005c3-fbd4-40ec-9078-f8aa56af48b9%2FCowProfilePic.png?v=1627339459713" />

    <!-- link to main stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    
    <!--main js script-->
    <script src="{{ "/assets/js/script.js" | relative_url }}" defer></script>

    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--Project Header-->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!--font-family: 'Bebas Neue', cursive;-->
    
    <!--Sub Header-->
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <!--font-family: 'Space Grotesk', sans-serif;-->

    <!--Body-->
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!--font-family: 'Source Code Pro', monospace;-->
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!--font-family: 'Space Mono', monospace;-->
    
  </head>
  <body>
    <!-- cursor element -->
    <div class="cursor"></div>
    <div class="cwhite"></div>

    {% include aboutnav.html %}

    {{ content }}
  </body>
</html>
